{% extends 'dashboard/dashboardBase.html.twig' %}

{% block title %}Nouvelle categorie{% endblock %}

{% block dashboardSection %}
    <h1>Ajouter une nouvelle categorie</h1>

    {{ include('product_type/_form.html.twig') }}

    <a href="{{ path('app_product_type_index') }}">Retour a la liste</a>
{% endblock %}